@using Query.Sliders.DTO
@using Common.Application.FileUtil

@model List<SliderDto>
@{
    int _sliderCount = 1;
}

<div class="slider-main-container d-block">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            @for (int i = 1; i <= Model.Count - 1; i++)
            {
                <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
            }
        </ol>
        <div class="carousel-inner">
            @foreach (var item in Model)
            {
                if (_sliderCount == 1)
                {
                    <div class="carousel-item active">
                        <a href="@item.Link">
                            <img src="@Directories.GetSliderImage(item.ImageName)" class="d-block w-100">
                        </a>
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <a href="@item.Link">
                            <img src="@Directories.GetSliderImage(item.ImageName)" class="d-block w-100">
                        </a>
                    </div>
                }
                _sliderCount++;
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>